@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&family=Manrope:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  /* Primary */
  --color-coralPink: "#F26C7F";
  --color-goldenYellow: "#F6C758";
  --color-mintGreen: "#6BC8A6";
  --color-skyBlue: "#48A3E3";
  --color-violet: "#7D5BD6";

  /* Neutral */
  --color-softWhite: "#F9FAFB";
  --color-cloudGray: "#E9EDF1";
  --color-charcoal: "#2A2A2E";
  --color-mutedBlueGray: "#5E6E78";

  /* Accent */
  --color-peachAccent: "#FF8B70";
  --color-tealAccent: "#3BAEA0";
  --color-lavenderAccent: "#B497FF";
  /* Fonts */
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply m-0 p-0 text-deepBlack font-body;
  }
}
